.cards_scss {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

    .rank_section{
        display: flex;
        flex-direction: column;
    
        &.finished{
            color: #1eff00;
        }
        &.ongoing{
            color: #ffe100;
        }
        &.unseen{
            color: var(--dark-white);
        }

        h2 {

            span {

            }
        }
    }

    .form-container {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        
        li{
          flex-direction: column;
        }
        
    }
    .form-container.visible {
        max-height: 300px;
    }
        
      
    .projects_section{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    
    article{
        padding-top: 0em;
        padding: 1em;
        color: var(--light-white);
        background-color: #00000080;
        display: flex;
        flex-direction: column;
        width: 20em;
        border-radius: 8px;
        gap: 1.5em;

        > div{
            display: flex;
            justify-content: space-around;

            button{
                font-size: 1em;
                font-weight: 700;
                padding: 0.2em 1em;
                margin: 1em;
                
                &:hover{
                    background-color: var(--dark-white);
                    color: var(--light-white);
                }
            }
        }
    }
    
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 8em;

        span {
            font-size: 2em;
            font-weight: 700;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: .5em;

        li {
            display: flex;
            justify-content: space-between;
        }
    }

    .maxGrade{
        background-color: #00ffd080;
    }
    .topGrade{
        background-color: #bfff0080;
    }
    .failed{
        background-color: #ff000080;
    }
    .passed{
        background-color: #1eff0080;
    }
    .in_progress{
        background-color: #ffe10080;
    }
}
